* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}
.controls h1 {
  font-size: 2.8rem;
  background: -webkit-linear-gradient(#ffffff, #eee3e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls button {
  padding: 1rem;
  border: none;
  background: #4f5f76;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: #4f5f76;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  min-width: 10rem;
}

.controls button,
.pad,
select,
.play {
  border-radius: 5px;
}

.mute.active {
  background: rgb(63, 62, 62);
}

.tempo {
  margin: 3rem;
  width: 40%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: rgb(39, 64, 70);
  background: linear-gradient(
    90deg,
    rgba(39, 64, 70, 1) 0%,
    rgba(230, 218, 218, 1) 100%
  );
  cursor: pointer;
  border-radius: 1rem;
  height: 19px;
}
.tempo p {
  font-size: 2.5rem;
  margin: 2rem;
  text-align: center;
  color: white;
}

/* Kick and Snare and Hihat */
.kick-pad,
.snare-pad,
.hihat-pad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 0.55rem;
  cursor: pointer;
}

.kick-pad {
  background: #289ca0;
}

.snare-pad {
  background-color: #c19b72;
}
.hihat-pad {
  background: #48886f;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.kick-track,
.hihat-track,
.snare-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 5rem;
}

.kick-pad.active {
  background: #1c5b5d;
}
.snare-pad.active {
  background: #7a6146;
}
.hihat-pad.active {
  background: #29473c;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* for Tabletes*/
@media (max-width: 1024px) {
  .sequencer {
    width: 100%;
    padding: 20px;
  }

  .controls h1 {
    font-size: 2rem;
  }

  .kick-track,
  .hihat-track,
  .snare-track {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .controls {
    /* flex-direction: column; */
    margin-bottom: 15px;
  }

  select {
    font-size: 0.9rem;
    padding: 0.8rem;
    min-width: 8rem;
  }

  .pad {
    height: 4rem;
    width: 4rem;
  }
}

/* for normal size phones */
@media (max-width: 768px) {
  .sequencer {
    padding: 10px;
  }

  .controls h1 {
    font-size: 1.8rem;
  }

  .kick-track,
  .hihat-track,
  .snare-track {
    width: 100%;
  }

  .controls button {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  select {
    font-size: 0.8rem;
    padding: 0.6rem;
    min-width: 7rem;
  }

  .pad {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0.5rem;
  }

  .play {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
  }

  .tempo {
    width: 80%;
  }

  .tempo p {
    font-size: 2rem;
  }

  .tempo-slider {
    height: 15px;
  }
}

/* for small phones */
@media (max-width: 480px) {
  .sequencer {
    justify-content: flex-start;
  }

  .controls {
    display: flex;
  }

  .controls h1 {
    font-size: 1.5rem;
  }

  .controls button {
    padding: 0.3rem;
    font-size: 0.75rem;
  }

  select {
    font-size: 0.6rem;
    padding: 0.3rem;
    min-width: 6rem;
  }

  .pad {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.2rem;
  }
  .b0 {
    margin-left: 1rem;
  }
  .b7 {
    margin-right: 1rem;
  }

  .play {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }

  .tempo {
    margin-top: 0.5rem;
  }

  .tempo p {
    font-size: 1.5rem;
  }

  .tempo-slider {
    height: 12px;
  }

  .controls :nth-child(1),
  .controls :nth-child(2) {
    margin: 0 1rem 0 1rem;
  }
}
